.container{
    justify-content:center;
    width: 100vw;
    height: 100vh;
}

.button-row {
  display: flex;          /* arrange buttons in a row */
  justify-content: center; /* center row horizontally */
  gap: 5px;              /* space between buttons */
}

.color-generated{
                display:flex;
                justify-content:center;
                align-items:center;
                color:#fff;
                font-size:60px;
                margin-top:50px;
                flex-direction:column;
                gap:20px;
}