.active{
    color: #FFD700;
}

.inactive{
    color: black;
}

.star-rating-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    
    gap: 0.5rem;
    font-size: 1rem;
    justify-content: center;
    height: 25vh;
}