h3{
    text-align: center;
}

li{
    list-style-type: none;
}

.container-scroll-top-bottom{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}