.search-engine {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.search-engine input {
    width: 60%;
    height: 45px;
    border: 1px solid;
    border-radius: 8px;
    padding: 2px 15px;
    font-size: 16px;
    outline: none;
    background-color: #ffffff;
    color: #555555;
    margin: 0;
}

.search-engine button {
    border: none;
    height: 45px;
    border-radius: 8px;
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    padding: 0 20px;
}

.weather-app {
    text-align: center;
    margin: 50px auto 0px;
    width: 90%;
    max-width: 700px;
    border-radius: 20px;
    height: 400px;
    padding: 20px 15px;
    background-color: rgb(0, 255, 166);
}

.weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}