.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.weather-board{
    height: 400px;
    width: 500px;
    background-color:  #0ce3ac;
    border-radius: 20px;
    position: relative;
}


.search-bar{
    position: absolute;
    top:-60px;
    left:30px;
    display: flex;
    gap:30px;
}   

.search-bar input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 16px;
}

.search-bar button{
    padding: 1px 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color:white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
}

.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}