.top-container{
    position:fixed;
    top: 0;
    z-index:1;
    width: 100%;
    text-align: center;
    background-color: blue;
    color:white;
    position: sticky;
}

.scroll-progress-tracking-container{
    width: 100%;
    height: 100%;
    background-color: #aaf900;
}

.current-progress-bar{
    height: 10px;
    width: 0%;
    background-color: blueviolet;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 100px;

}
